<template>
  <div>
    <div class="container">     
      <h2>Movies</h2>
      <div class="panel panel-primary">
        <div class="panel-heading">
            Movies List
            <router-link to="/" class="btn btn-info pull-right" style="margin-top:-7px;margin-left:2px;">Add Movies</router-link>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>  
                <th>Description</th>
                <th>Rating</th> 
                <th>Release Date</th> 
                <th>Ticket Price</th>                          
              </tr>
            </thead>
            <tbody>
              <tr v-for="movie in movies" :key="movie.id">
                <td>{{ movie.id }}</td>
                <td>{{ movie.name }}</td> 
                <td>{{ movie.description }}</td>
                <td>{{ movie.rating }}</td>
                <td>{{ movie.release_date }}</td>
                <td>{{ movie.ticket_price }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
       Here we are using the state of component : {{ count }}
       <button class="btn" @click="updateCountItemOnClick">INCREMENT</button>
    </div>
  </div>
</template>
 
<script>
import { mapState } from 'vuex';
import MovieService from '../Services/MovieService';
export default {
  name:'home',
  data() {
    return {
     // movies: [],
    };
  },
  created() { 
    this.$store.dispatch('loadMovies');  
  },
  computed:{
    ...mapState({
      count : state=>state.count
    }),
    movies() {
        return this.$store.getters.movies;
    },
  },
  methods: {
    fetchMovieItems(){
      return MovieService.getMovies()
        .then(result => {
         this.movies = result.data;
        })    
    },
    updateCountItemOnClick() {        
      this.$store.commit('INCREMENT');
    }
    }
};
</script>